<div class="panel panel-default" >
  <div class="panel-heading">Drams detail Form : You can see the detail information of a Dram in this page of the Apps.</div>
  <div class="panel-body">
    <form class="form-horizontal" *ngIf=dram>
  <div class="form-group">
    <label for="drm_id" class="col-sm-2 control-label">Dram Id : </label>
    <div class="col-sm-9">
      <p class="form-control">{{dram.dramId}}</p> 
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name : </label>
    <div class="col-sm-9">
     <p class="form-control">{{dram.name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="picture" class="col-sm-2 control-label">Picture : </label>
    <div class="col-sm-9">
     <p class="form-control">{{dram.picture}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="dateAdd" class="col-sm-2 control-label">Date Added : </label>
    <div class="col-sm-9">
     <p class="form-control">{{dram.dateAdd}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="tastingNote" class="col-sm-2 control-label">Tasting Notes : </label>
    <div class="col-sm-9">
     <p class="form-control">{{dram.tastingNote}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="rating" class="col-sm-2 control-label">Rating : </label>
    <div class="col-sm-9">
     <p class="form-control">{{dram.rating}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price : </label>
    <div class="col-sm-9">
     <p class="form-control">{{dram.price}}</p>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      
      <a class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>
